tester*
/__pycache__/*
*.inp
*.vtk
*.txt
OAS*
/Images/*
brain_creation_personal.py
brain_creation_lesion.py
brain_creation_atrophy.py
/Lesion/*
/Atrophy/*
/.idea/*
venv/*
vtkReader*
.env
/mri/
/tmp/
/Lesion/
/Atrophy/
/Images/
/.idea/
/venv/
/fetal_brain_mesher/
/.idea/
/Models/
/IOput/out/
